@charset "UTF-8";

.my-color-white{
	color: #fdfdfd;
}

.my-color-blue-light{
	color: #85a2b6;
}
.my-color-blue-light2{
	color: #bbcedd;
}

.my-color-blue-light3{
	color: #dce4eb;
}

.my-color-red-dark{
	color: #a00d1e;
}
.my-color-red-light{
	color: #be5960;
}
.my-color-red-light2{
	color: #d69293;
}