<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	class="no-js" lang="">
<head>
<th:block th:include="head::head_link"></th:block>
<meta charset="utf-8">
<title></title>
</head>

<body class="bg-light">
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
	<div class="container-fluid" ng-app="products"
		ng-controller="myControl">


		<div th:replace="head::nav"></div>
	
		<!-- content starts here -->
		<section class="my-2" >
			<div >
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/index}"
							th:text="#{common.home}">Home</a></li>

						<li class="breadcrumb-item active" aria-current="page"
							th:text="#{breadcrumb.shoppingcart}">Data</li>
					</ol>
				</nav>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="col-md" align="center">
					<h1 th:text="#{breadcrumb.shoppingcart}"></h1>
				</div>
			</div>
			
		
			
			<div class="container py-5 mt-5" ng-cloak>
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="row justify-content-between">
                <h6>购物车里的商品:</h6>
                <small class="text-muted" ng-bind="{{products.length}} +' 件商品'">5 items</small>
            </div>
            <table class="table table-responsive">
                <tbody>
                  
                  
                 
                    <tr ng-repeat="item in items" >
                        <td>
                            <img  ng-src="{{products[$index].imgs[0].url+'?widht=120&height=120'}}" width="120px;" height="120px;">
                        </td>
                        <td>
                            <h6 class="mb-0 d-inline" ng-bind="products[$index].product.name">Product Name - Model</h6>
                            <!-- <small class="text-muted">RPI-1510</small> -->
                            <p class="mb-0 text-muted" ng-bind="products[$index].product.moneyDisplayed"></p>
                            <form class="form-inline">
                                <input class="form-control form-control-sm" id="inputQty" type="number" min="1" ng-change="quantityChange(item,products[$index].product.quantity)"  ng-model="item.quantity"  >
                                <label for="inputQty" class="form-control-label">&nbsp; Qty</label>
                            </form>
                            <a class="small text-muted" href="#" ng-click="deleteItems($index)"><i class="fa fa-trash-o"></i> 删除商品</a>
                        </td>
                        <td>
                            <p ng-bind="currencySymbol +(products[$index].product.sellingprice_aftertax*item.quantity).toFixed(2)">$59.98</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="row justify-content-between mb-3">
                <a class="btn btn-red" th:href="@{/index}"><i class="fa fa-arrow-left"></i>&nbsp; 返回继续购物</a>
               <!--  <a class="btn btn-secondary" href="#">Cancel</a> -->
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="card mb-3 text-right">
                <div class="card-header"><i class="fa fa-shopping-cart"></i> 购物车总结</div>
                <div class="card-body">
                    <h4 class="card-title mb-0" ng-bind="currencySymbol+totalPrice">{{currencySymbol}}0.0</h4>
                    <p class="card-text small" th:text="#{cart.totalPrice}">Total</p>
                    <button  class="btn btn-red" ng-click="checkout()" ng-disabled="items.length==0 || items==null" th:text="#{cart.submit.order}">Checkout</button>
                </div>
            </div>
            <div class="card text-right">
                <div class="card-body">
                    <h6 class="card-title mb-0"><i class="fa fa-phone"></i><span th:text="${setting.phone}"></span></h6>
                    <p class="card-text small text-muted" th:text="#{cart.support.phone}">Please contact with us if you have any questions.</p>
                </div>
            </div>
        </div>
    </div>
</div>
		</section>


		<div th:replace="footer::footer"></div>

	</div>






	<div th:replace="commonjs::js"></div>
	<script type="text/javascript" th:src="@{/js/js.cookie.js}"></script>
	<script th:inline="javascript">
	var u=[[@{/}]];
	var url=u+"product/getProducts".replace("\\","");
	var app = angular.module('products', []);
	var csrfName= [[${_csrf.headerName}]];
    var  token= [[${_csrf.token}]];
	app.controller('myControl', function($scope,$http,$location) {
		 init($scope);
	
		$scope.quantityChange=function(item,quantity){
			if(item.quantity>quantity){
				item.quantity=quantity;	
				alert("没有库存了");
			}
			Cookies.set("shopping_cart_tt",angular.toJson($scope.items),{ expires: 31 });		
			updatePrice($scope);
		}
		
		 $scope.checkout=function (){			
				window.location.href=(u+"checkout").replace("\\","");
			}
	    $scope.productDetail=function (id){			
	    						window.location.href=(u+"productdetail/"+id).replace("\\","");
	    					}
	  
	    $scope.deleteItems=function ($index){
		

			$scope.items.splice($index,1);
			$scope.products.splice($index,1);
	    	
	    	Cookies.set("shopping_cart_tt",angular.toJson($scope.items),{ expires: 31 });
		
	    	
	    	$scope.deleteItem=true;	   	     	
	    	updatePrice($scope);
	    }
	   	
	});
	function init($scope){
		
		var products=[[${products}]];
		var items=[[${items}]];
		$scope.setting=[[${setting}]];
		$scope.currencySymbol=[[${currencySymbol}]];
		$scope.products=products;
		$scope.items=items;
		$scope.totalPrice=0;
		updatePrice($scope);
		
	}	
	function updatePrice($scope){
		$scope.totalPrice=0;
		for(var i in $scope.items){
			var quan=$scope.items[i].quantity;
			$scope.totalPrice+= $scope.products[i].product.sellingprice_aftertax*quan;
		}
		$scope.totalPrice=$scope.totalPrice.toFixed(2);
	}

	
	
	</script>
</body>

</html>
