<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	class="no-js" lang="">
<head>
<th:block th:include="head::head_link"></th:block>
<meta charset="utf8">
<link rel="stylesheet" th:href="@{/css/index.css}">
<link rel="stylesheet" th:href="@{/css/productCard.css}">



<title>TT_Mart</title>
</head>

<body class="bg-light">
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
	<div class="container-fluid" ng-app="products"
		ng-controller="myControl">

		<!-- nav -->

		<div th:replace="head::nav"></div>

		<!-- nav end -->

		<!-- carousel  -->

		<div class="row my-2  " style="margin-bottom: 20px;">
			<div id="carouselExampleIndicators"
				class="carousel slide col-md-12 justify-content-center"
				data-ride="carousel">
				<ol class="carousel-indicators">
					<li th:each="car,stat:${carousels}"
						data-target="#carouselExampleIndicators"
						th:data-slide-to="${stat.index}"
						th:class="${stat.index}==0?active:''"></li>
				</ol>
				<div class="carousel-inner">

					<div th:each="car,stat:${carousels}"
						th:class="${stat.index}==0?'carousel-item active':'carousel-item'">
						<a th:href="${car.redirect_url}"> <img class="d-block w-100"
							th:src="${car.pic_url}" alt="First slide">
						</a>
						<div class="carousel-caption d-none d-md-block">
							<h5 th:text="${car.title}"></h5>
						</div>
					</div>


				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<!-- carousel end  -->
		<!-- search  -->
		<div class="row">




			<div class="input-group  col-md-8 mt-4 offset-md-2">
				<input ng-keypress="$event.keyCode==13&&search()"
					ng-model="search_value" id="input_search" type="text"
					class="form-control typeahead"
					th:placeholder="#{index.search.name}" autocomplete="off"
					aria-label="Recipient's username" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<button ng-click="search()" class="btn btn-outline-secondary"
						type="button">搜索</button>
				</div>
			</div>



		</div>
		<!-- search end -->
		<!-- product display -->
			<div class="row" id="products">
					<div ng-show="products==null"
						class="col-md-12 justify-content-center p-3" align="center">
						<div class="loader"></div>
					</div>
				</div>
		<div class="container-fluid pt-1">
			<ol class="breadcrumb bg-transparent">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
			</ol>
			<div class="row" ng-show="products!=null">
		
				<div class="col-lg-3 col-sm-12 col-xs-12" id="sidebar">
					<div class="card mb-3" style="border-top: 2px solid;">
						<div class="card-header" th:text="#{product.category.name}">Categories</div>
						<div class="card-body px-0">
							<nav class="nav flex-column">
								
								
								
								<a th:each="category,stat:${categories}"
									class="nav-link py-1"
								  href="#list-home"
								 th:text="${category.name}">Home</a>
								
							</nav>
						</div>
					</div>
					<div class="card mb-3" style="border-top: 2px solid;">
						<div class="card-header">Pricing</div>
						<div class="card-body">
							<ul class="list-unstyled">
								<li>$10</li>
								<li>$20</li>
								<li>$50</li>
							</ul>
						</div>
					</div>
					
				</div>
				<div class="col-lg-9 col-xs-12 col-sm-12">
					<div class="row">
					<div class="col-lg-12">
					<small>showing <strong ng-bind="products.length">12</strong> products
					</small>
					<div class="pull-right">
						<a class="btn btn-light" href="#"><i class="fa fa-th-large"></i></a>
						<a class="btn btn-light" href="#"><i class="fa fa-list"></i></a> <a
							class="btn btn-light btn-sm text-muted dropdown-toggle" href="#"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Default
							Sorting</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Popularity</a> <a
								class="dropdown-item" href="#">Ratings</a> <a
								class="dropdown-item" href="#">Latest</a> <a
								class="dropdown-item" href="#">Oldest</a>
						</div>
					</div>
					</div>
					</div>
					<hr>
					<div class="row" >
			
					<div class="col-md-3 col-sm-6 col-xs-6  mb-3"
						ng-repeat="product in products">

						<figure class="card card-product">
							<div class="img-wrap">
								<a href="" ng-click="productDetail(product.id)"><img
									ng-src="{{product.imgUrl}}" ng-attr-data-id="{{product.id}}"
									width="100%"></a>
							</div>
							<figcaption class="info-wrap">
								<h4 class="title" ng-bind="product.name"></h4>
								<p class="desc" ng-bind="product.title"></p>
								<div class="rating-wrap">
									<div ng class="label-rating" ng-show="product.quantity!=0"
										ng-bind="'库存:'+product.quantity"></div>
									<div ng class="label-rating" ng-show="product.quantity==0"
										style="color: red" th:text="#{index.outofstock}">没有库存了</div>
									<div class="label-rating">154 orders</div>
								</div>
								<!-- rating-wrap.// -->
							</figcaption>
							<div class="bottom-wrap">
								<a href="" class="btn btn-sm btn-primary float-right"
									ng-click="addCart($index,product.id)" th:text="#{index.addingto.cart}">添加购物车</a>
								<div class="price-wrap h5">
									<span class="price-new" ng-bind="'¥'+product.sellingprice/100">$1280</span>
									<!-- <del class="price-old">$1980</del> -->
								</div>
								<!-- price-wrap.// -->
							</div>
							<!-- bottom-wrap.// -->
						</figure>




					</div>
						
					
						
					
					</div>
					<hr>
					<div class="row my-5">

						<!--Pagination -->
						<ul class=" ml-auto mr-auto pagination justify-content-center">

							<!--First-->
							<li
								ng-class="pages.currentPage==0?'page-item disabled':'page-item'"><a
								ng-click="getContent(0)" class="page-link">First</a></li>

							<!--Arrow left-->
							<li
								ng-class="pages.currentPage==0?'page-item disabled':'page-item'">
								<a class="page-link" aria-label="Previous"
								ng-click="getContent(pages.currentPage-1)"> <span
									aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span>
							</a>
							</li>



							<li ng-repeat="ps in pageArray"
								ng-class="ps==(pages.currentPage+1)?'page-item active':'page-item'"><a
								class="page-link" href="#"
								ng-click="ps==(pages.currentPage+1)?'':getContent(ps-1)">{{ps}}</a></li>

							<!--Arrow right-->
							<li
								ng-class="pages.currentPage==(pages.totalPage-1)?'page-item disabled':'page-item'">
								<a ng-click="getContent(pages.currentPage+1)" class="page-link"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
									class="sr-only">Next</span>
							</a>
							</li>

							<!--Last-->
							<li
								ng-class="pages.currentPage==(pages.totalPage-1)?'page-item disabled':'page-item'">
								<a ng-click="getContent(pages.totalPage-1)" class="page-link">Last</a>
							</li>

						</ul>
						<small class="ml-auto" ng-bind="'showing '+pages.currentPage*pages.pageSize+'-'+(pages.currentPage*pages.pageSize+24)+' of  '+pages.totalCount+' results'"></small>


					</div>

					<!-- pagination end -->

				</div>
			</div>
		</div>

		<!-- Footer -->
		<div th:replace="footer::footer"></div>
		<!-- Footer -->
	</div>






	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<div th:replace="commonjs::js"></div>
	<script type="text/javascript"
		th:src="@{/js/bootstrap3-typeahead.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bloodhound.min.js}"></script>
	<script th:inline="javascript">
	
	var u=[[@{/}]];
	var url=u+"product/getProducts".replace("\\","");
	var app = angular.module('products', []);
	var csrfName= [[${_csrf.headerName}]];
    var  token= [[${_csrf.token}]];
	app.controller('myControl', function($scope,$http,$location) {
	
	 
	    $scope.productDetail=function (id){			
	    						window.location.href=(u+"productdetail/"+id).replace("\\","");
	    					}
	    $scope.addCart=function($index, id){
	    	if($scope.products[$index].quantity==0)
	    		{
	    		alert($scope.products[$index].name+" 没有库存了");
	    		return ;
	    		}
	    	 var context = [[@{/}]]+"cart/add";
		        	context=context.replace("\\","");
	    	 $http.defaults.headers.common[csrfName] = token;
	    	 $http({  
				    method:'post',  
				    url:context,  				    
				    data:[{productid:id,quantity:1}] 					
				}).then(function successCallback(req){  			
					if(req["data"]["code"]==200){
						alert([[#{index.shopping.cart.success}]]);
					}	
					
				})  
			
		        	
	    }
	    $scope.search=function (){
	    	var inputValue=$scope.search_value;
	    	load($scope,$http,0,{name:inputValue}); 	
	    }
		load($scope,$http,0,{});
	    $scope.getContent=function(requestPage){	    	
	    	load($scope,$http,requestPage,{});
	    }
	});
	
	function load($scope,$http,currentPage,dataValue){
		 $http.defaults.headers.common[csrfName] = token;
			$http({  

			    method:'post',  

			    url:url+"?currentPage="+currentPage+"&pageSize=24",  

			    data:dataValue 
				

			}).then(function successCallback(req){  			
				$scope.products=req["data"]["result"]["beans"];
				$scope.pages=req["data"]["result"];
			
				var start=$scope.pages["beginNumber"]+1;
				var end=$scope.pages["endNumber"]+1;
			
				var input=[];
				for(var i=start;i<end;i++){
		    		input.push(i);
		    	}
				$scope.pageArray=input;			
			})  
		
	}
	
	$().ready(function (){

		   var context = [[@{/}]]+"product/getName/";
	        	context=context.replace("\\","");
	   
		   var engine = new Bloodhound({
			   datumTokenizer: Bloodhound.tokenizers.whitespace,
			   queryTokenizer: Bloodhound.tokenizers.whitespace,
			   identify: function(obj) { return obj.id; },
			   prefetch: context+"1.json",
			   
			   remote: {
				    url: context+"-1.json",				   
				  }
			 });
		   engine.initialize();
		  

		   $('#input_search').typeahead({
		     fitToElement: true,
		   	 items:8,
		   	 minLength:1,
		   	 delay:500,	
		     name: 'all-category',
		     display: 'name',
		     source: engine.ttAdapter()
		   });
		   
		   
		
		
	})
	
	
	
	</script>
</body>

</html>
