<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	class="no-js" lang="">
<head>
<th:block th:include="head::head_link"></th:block>
<meta charset="utf-8">
<title></title>
</head>

<body class="bg-light">
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
	<div class="container-fluid" ng-app="products"
		ng-controller="myControl">


		<div th:replace="head::nav"></div>

		<!-- content starts here -->
		<section class="my-2  mt-5">
			<div>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/index}"
							th:text="#{common.home}">Home</a></li>

						<li class="breadcrumb-item active" aria-current="page"
							th:text="#{breadcrumb.product.detail}">Detail</li>
					</ol>
				</nav>
			</div>
			<div class="container py-5">


				<div class="row">
					<div class="col-md-4">
						<div class="row">
							<img class="img-fluid" ng-src="{{imgs[0].url}}">
						</div>

						<div class="row mt-2">
							<small>Tags &nbsp;</small> <a class=" mx-1 badge badge-secondary"
								th:href="@{/index}+'?category='+${category.id}"
								th:text=${category.text}></a>

						</div>
					</div>
					<div class="col-md-8">
						<h4 ng-bind="product.name"></h4>
						<small class="text-muted" ng-bind="'quantity: '+product.quantity">RPI-1510</small>
						<div class="small text-warning">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i
								class="fa fa-star"></i><i class="fa fa-star"></i><i
								class="fa fa-star"></i><span> 5 stars</span>
						</div>
						<small>Availability: <span class="text-primary">In
								Stock</span></small> <br>
						<h4 class="d-inline" ng-bind="product.sellingprice_"></h4>
						<small class="text-muted"><sup></sup></small>
						<hr>
						<h6>Quick Overview:</h6>
						<small ng-bind="product.title"></small>
						<hr>
						<form>
							<div class="form-group row">
								<div class="col-2">
									<input class="form-control form-control-sm" type="number"
										id="inputQuantity" style="text-align: right;" min="1" ng-model="itemQuantity" ng-change="quantityChange(itemQuantity,product.quantity)" 
										value="1">
								</div>
								<label for="inputQuantity" class="col-1 col-form-label">Quantity</label>
							</div>
							<button class="btn btn-success btn-sm mr-2" type="submit">
								<i class="fa fa-shopping-cart"></i>&nbsp; Add to Cart
							</button>
							<button class="btn btn-success btn-sm" type="submit">
								<i class="fa fa-heart-o"></i>&nbsp; Add to Wishlist
							</button>
						</form>
					</div>
				</div>
				<div class="row my-4 mx-0 px-0 ">
					<div class="col-12 mx-0 px-0">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								id="home-tab" data-toggle="tab" href="#home" role="tab"
								aria-controls="home" aria-selected="true">description</a></li>
							<li class="nav-item"><a class="nav-link" id="profile-tab"
								data-toggle="tab" href="#profile" role="tab"
								aria-controls="profile" aria-selected="false">additional
									information</a></li>
							<li class="nav-item"><a class="nav-link" id="contact-tab"
								data-toggle="tab" href="#contact" role="tab"
								aria-controls="contact" aria-selected="false">Contact</a></li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="home" role="tabpanel"
								aria-labelledby="home-tab" ng-bind-html="product.content"></div>
							<div class="tab-pane fade" id="profile" role="tabpanel"
								aria-labelledby="profile-tab">...</div>
							<div class="tab-pane fade" id="contact" role="tabpanel"
								aria-labelledby="contact-tab">...</div>
						</div>
					</div>
				</div>
				<div class="row mb-2">
					<h6>Related Products</h6>
				</div>

				<div class="row justify-content-left">
					<div class="col-2 " ng-repeat="recommendedProduct in recommendedProducts">
					<a   ng-href="{{$locationhost()+'/productdetail/'+recommendedProduct.id}}" ><img class=" "
						src="//placehold.it/120x120" width="120px;" height="120px;" ng-src="{{recommendedProduct.imgUrl}}"></a>
					<span style="display: block;" ng-bind="recommendedProduct.name"></span>
						 </div>
				</div>
			</div>



		</section>


		<div th:replace="footer::footer"></div>

	</div>






	<div th:replace="commonjs::js"></div>

	<script th:inline="javascript">
	var u=[[@{/}]];
	var url=u+"product/getProducts".replace("\\","");
	var app = angular.module('products', []);
	var csrfName= [[${_csrf.headerName}]];
    var  token= [[${_csrf.token}]];
	app.controller('myControl', function($scope,$http,$location,$sce) {
	$scope.product=[[${product}]];
	$scope.itemQuantity='1';
	$scope.product.content=$sce.trustAsHtml($scope.product.content);
	 $scope.imgs=[[${imgs}]];
	 $scope.category=[[${category}]];
	$scope.recommendedProducts=[[${recommendedProducts}]];
	$scope.quantityChange=function(itemQuantity,quantity){
		if(itemQuantity>quantity){
			$scope.itemQuantity=quantity;	
		}
	
	}
	
	});
	
	
	
	
	
	</script>
</body>

</html>
