<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	class="no-js" lang="">
<head>
<th:block th:include="head::head_link"></th:block>
<meta charset="utf-8">
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
<title></title>
</head>

<body>
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
	<div class="container-fluid" ng-app="products"
		ng-controller="myControl">


		<div th:replace="head::nav"></div>

		<!-- content starts here -->
		<section class=" mt-5">
	

<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">reminder</h5>
        <button type="button" class="close" data-dismiss="modal" ng-show="update_success" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" ng-bind="reminderInfo">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"  aria-label="Close"  ng-disabled="!update_success" th:text="#{common.confirm}"></button>
      </div>
    </div>
  </div>
</div>

			<div>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/index}"
							th:text="#{common.home}">Home</a></li>

						<li class="breadcrumb-item active" aria-current="page"
							th:text="#{breadcrumb.userinfo}">Data</li>
					</ol>
				</nav>
			</div>
			<nav>
				  <div class="nav nav-tabs" id="nav-tab" role="tablist">
				    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Profile</a>
				    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Orders</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  
  <div class="row my-4">
				<div
					class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-sm-12 -col-xs-12">
					<div class="card card-outline-secondary">
						<div class="card-header">
							<h3 class="mb-0" th:text="#{common.userInfo}">User Information</h3>
						</div>
						<div class="card-body">
							<form class="form" role="form" autocomplete="off">
								<input hidden="" type="text" name="id"  ng-value="user.id">
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label" th:text="#{common.firstName}">
										Name</label>
									<div class="col-lg-9">
										<input class="form-control" name="firstName" type="text" ng-model="user.firstName"   ng-value="user.firstName"   >
									</div>
								</div>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label" th:text="#{common.lastName}">
										Name</label>
									<div class="col-lg-9">
										<input class="form-control" name="lastName" type="text" ng-model="user.lastName"   ng-value="user.lastName"   >
									</div>
								</div>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label" th:text="#{common.email}">Email</label>
									<div class="col-lg-9">
										<input class="form-control"  name="email"  type="email" ng-model="user.email"
											 ng-value="user.email" >
									</div>
								</div>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label" th:text="#{common.phone}">Phone</label>
									<div class="col-lg-9">
										<input class="form-control" type="text" name="phone"   ng-model="user.phone"  ng-value="user.phone" value="">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">Post code</label>
									<div class="col-lg-9">
										<input class="form-control" name="postcode" type="text"  ng-model="user.postcode"  ng-value="user.postcode"   value="">
									</div>
								</div>
										<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label" >Address</label>
									<div class="col-lg-9">
										<input class="form-control" type="text" name="address" ng-model="user.address"  ng-value="user.address">
									</div>
								</div>
								
							
							
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label"></label>
									<div class="col-lg-9">
										<input type="button" ng-click="my_submit()" class="btn btn-primary" th:value="#{common.saveChanges}"
											value="Save Changes">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  	<span ng-bind="orderloading_info" style="color: red;" class="h3"></span>
  	<div class="container">
  	<table id="example" class="table  table-hover"  style="width:100%">
        <thead>
            <tr>
                <th>order No</th>
                <th>total Price</th>
                <th>createdTime</th>
                <th>Age</th>
             
            </tr>
        </thead>
        <tbody>
        
      
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
          
            </tr>
        </tfoot>
    </table>
  	</div>
  </div>
</div>
			

		</section>


		<div th:replace="footer::footer"></div>

	</div>






	<div th:replace="commonjs::js"></div>
	<script type="text/javascript"   src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"   src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script th:inline="javascript">
	var u=[[@{/}]];
	var url=u.replace("\\","");
	var app = angular.module('products', []);
	var csrfName= [[${_csrf.headerName}]];
    var  token= [[${_csrf.token}]];	
	app.controller('myControl', function($scope,$http,$location) {
		
		$scope.user=[[${user}]];
		$scope.my_submit=function (){
			//update data to server
			$scope.reminderInfo="processing";
			$scope.update_success=false;
			$("#exampleModal").modal();
			updateUser($scope,$http);
			
		}

	});

	
	function updateUser($scope,$http){
		 $http.defaults.headers.common[csrfName] = token;
		 var user=$scope.user;	
		 $http({  
			    method:'post',  			    
			    url:url+"user/update",  
			    data:angular.toJson(user)
			}).then(function successCallback(req){  			
				if(req["data"].success==true){
					$scope.reminderInfo="success";
					$scope.update_success=true;
					console.log(req);
						
				}else{
					$scope.reminderInfo=req["data"].msg;
					$scope.update_success=true;
					console.log(req);	
				}
			
			},function errorCallback(reponse){
							
			})  
		
	}

	var ordered=[[#{order.table.order}]];
	var confirm=[[#{order.table.confirm}]];
	var dispatched=[[#{order.table.dispatched}]];
	var finished=[[#{order.table.finished}]];
	var closed=[[#{order.table.closed}]];
			var context=[[@{/}]].replace("\\","");
		   var table= $('#example').DataTable({
		      'paging'      : true,
		      'lengthChange': true,
		      'searching'   : true,
		      'ordering'    : true,
		      'info'        : true,
		      'autoWidth'   : true,
		      "ajax": context+"orders/user",
		      "columns": [
		          { "data": "orderNumber" },
		          { "data": "price" },
		          { "data": "createdTime" },
		          { "data": "status" }
		      ],
		      "columnDefs": [ {
		    	    "targets": 3,
		    	    "data": "status",
		    	    "render": function (data,type,row) {
		    	    	var status=	row["status"];
		    	    	var st;
		    	    	switch(status){
		      	    	case 1: 	    	
		      	    		st='<label class="badge badge-secondary">'+ordered+'</label>';    	    		
		      	    		break;
		      	    	case 2:
		      	    		st=' <label class="badge badge-info">'+confirm+'</label>';      	    	
		      	    		break;
		      	    	case 3: 
		      	    		st='<label class="badge badge-primary">'+dispatched+'</label>'; 
		      	    		break;
		      	    	case 4:
		      	    		st=' <label class="badge badge-success">'+finished+'</label>';     	    	
		      	    		break;
		      	    	case 5:
		      	    		st=' <label class="badge badge-dark">'+closed+'</label>';   
		      	    		break;
		      	    	
		      	    	}
		    	      return st;
		    	    }
		    	  } ]
		    });
	
	</script>
</body>

</html>
